.App {
  text-align: center;
}

.values {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

input {
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
}
